@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #23272d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

.question-card {
  width: 100%;
  padding: 1.5rem;
  background-color: #383e46;
  text-align: left;
  font-weight: 500;
  color: #afbac6;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.question {
  background-color: #10a37f;
}

.icon {
  padding: 0.4rem;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.answer-card {
  width: 100%;
  padding: 1.5rem;
  background-color: #2b3036;
  text-align: left;
  color: #afbac6;
  min-height: 72px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ans {
  background-color: #2f80ed;
}
textarea {
  width: 100%;
  padding: 1rem 1rem;
  background-color: transparent;
  border-radius: 6px;
  text-align: left;
  color: #afbac6;
  outline: none;
  border: none;
}

textarea::placeholder {
  color: #afbac6;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

.form-box {
  background-color: #1d2127;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1rem;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 1rem;
  border-radius: 6px;
}

.form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
